@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

.clearfix::after {   
    content: "";   
    clear: both;   
    display: table; 
}

/* global*/

body{
    background-color:whitesmoke;
    display: flex;
    margin: 0 auto;  padding-top: 300px;
    width: 500px;
}

.bts{
    float: left;
}

.tooltip img {
    height: 100px;
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-bottom: 8px;
    position: relative;
}

/*ajustes para el tooltip tesxt en general*/ 

.tooltip-text{
    margin: 0px 500px 0px 500px;
    text-align: justify;
    color: white;
    font-size: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: gray;
    line-height: 20px;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0; right: 0px;
    top: 200px;
}

/*ajustes para cada tooltip*/

.cont-1::after{
    content: "";
    display: line;
    border-top: 7px solid gray;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 80px;
}

.cont-2::after{
    content: "";
    display: line;
    border-top: 7px solid gray;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 280px;
}

.cont-3::after{
    content: "";
    display: line;
    border-top: 7px solid gray;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 450px;
}

.cont-2{
    top: 220px;
}

.cont-3{
    top: 240px;
}

.view{
    display: block;
}

