body{
    background-color: gainsboro;
    margin: 0 auto;  padding-top: 100px;
    width: 500px;
}

.clearfix::after {   
    content: "";   
    clear: both;   
    display: table; 
}

.imagenes img {
    height: 100px;
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-bottom: 8px;
}
